*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* .....carasoul slider....... */
 .banner1{
    width:100px;
    height: 100vh;
    background-image: url('images/x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.banner2{
    width:100%;
    height: 100vh;

    background-image:url('images/2-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner3{
    width:100%;
    height: 100vh;
    background-image:url('images/3-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner4{
    width:100%;
    height: 100vh;
    background-image:url('images/Facebook-Cover-Open-Now-Quetta-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner5{
    width:100%;
    height: 100vh;
    background-image:url('images/Website-Cover-Banner-02-1600-x-650-min-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.trending-products{
    margin-top: 128px;
}
.card-img{
    height: 253px;
    margin-left:10px;
}
.card-margin{
    margin-left: -62px;
    width: 294px;
}
.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #f8983e,#FFEB3B);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}
/* earings section */

.cart-img{
  height: 186px !important;
    width: 50%;
    border-radius: 8px;
}
/* .cart-text{
  margin-top: 90px;
}
.jumbotron{
  background-color: #D0E7F7;
}
.search-box{
  width: 400px !important;
} */
/* .description{
  font-size: 20px;
} */
/* .....products page..... */
.text{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.price{
  margin-left: 146px;
}
/* .carasoul-height{
height: 10px;
} */
.detail-page{
  margin-top: 110px !important;

}
.custom-login{
  margin-top: 110px !important;

}
